
<div class="title">
    <h2>Règlement</h2>
</div>
<div class="paragraph">
    <ol>
        <li>NE PAS SPAM MICROPHONE INUTILEMENT</li>
        <li>NE PAS ÊTRE INSULTANT</li>
        <li>TOUTES FORMES DE VULGARITÉES EST PROHIBÉ SUR LE SERVEUR</li>
        <li>ÉVITER DE CASSER LE SERVEUR</li>
        <li>LAISSEZ UN PEU DE PLACE SUR LE SERVEUR A CEUX QUI VEULENT SE CONNECTER POUR FLAG LE CHALL !</li>
    </ol>
</div>
